@import "tailwindcss";

:root {
  --font-share-tech: 'Share Tech', sans-serif;
  --font-share-tech-mono: 'Share Tech Mono', monospace;
  --font-roboto:'Roboto';
}

.font-roboto {
  font-family: var(--font-roboto);
}
.font-roboto {
  font-family: var(--font-roboto);
}
.font-share-tech {
  font-family: var(--font-share-tech);
}
.font-share-tech-mono {
  font-family: var(--font-share-tech-mono);
}


@theme inline {
  /* Configure your theme variables here */
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
}




